@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8fafc;
    color: #114b79;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  ::selection {
    background-color: #2fa0b5;
    color: white;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
